*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0; /*preenchimento do site*/
    box-sizing: border-box; /*mantem o tamanho dos elementos*/
    list-style: none; 
}

.cabecalho{
    background-color: yellow; /*cor de fundo*/
    color: black; /*cor do texto*/
    padding: 1.5rem; /*poderia ser 24px*/
    /*alinhamento dos itens*/
    display: flex; /*manter lado a lado*/
    align-items: center; /*alinhar itens*/
    justify-content: space-evenly; /*justificar itens*/
    flex-direction: row; /*por os itens em linha*/

    /*header fixo*/
    position: sticky; /*posicionamento do header*/
    left: 0; /**/
    top: 0;
    z-index: 999; /*eixo z - profundidade do elemento*/
}
    /*logo do header*/
.div-logo img{
    width: 35%; /*usando o % para diminuir o seu tamanho*/
}

.div-button a button{
width: 5rem; /*poderia ser 80 px*/
padding: 0.5; /*8 px - prenchimento*/
background-color: black; /*cor de fundo*/
color: yellow; /*cor do texto*/
border: none; /*remover borda*/
border-radius: 30px; /*borda do button*/
font-weight: 700; /*peso da fonte*/
}

.section-01{
padding: 5rem; /*preenchimento interno da section*/
background-image: url(imagens/serv2.jpg); /*img de fundo*/
background-position: center; /*posição da img*/
background-size: cover; /*cobrir fundo com img*/
background-repeat: no-repeat; /*não repetir img*/

display: flex; /*manter lado a lado*/
align-items: center; /*alinhar itens*/
justify-content: center; /*justificar itens*/
gap: 2rem; /*poderia ser 32px*/
flex-wrap: wrap; /*faz com que as div quebrem linha se necessário*/
}

.section-01 p{
    color: rgb(197, 197, 197);
}

.section-01 p span{
    color: gold;
}

.div01{
background-color: rgba(0, 0, 0, 0.541); /*cor de fundo*/
color: yellow; /*cor de texto*/
text-align: center; /*alinhamento centralizado do texto*/
font-weight: 700;
font-size: 2rem; /*tamanho da letra*/
padding: 1rem; /*preenchimento da caixa*/
width: 25%; /*largura de caixa em porcentagem*/
min-width: 299px; /*largura minima para as div*/
height: 20rem; /*altura da caixa*/
}

    /*aqui estamos estilizando as listas*/
.ul-div01 li a{
    text-decoration: none; /*remove o sublinhado*/
    background-color: black; /*cor do fundo*/
    color: gold; /*cor do texto*/
    padding: 2px; /*preenchimento interno*/
}

.ul-div01 li{
    margin: 5px 5px; /*alterando os 4 lados externos dos elementos, primeiro valor (superior, inferior) e segundo valor (lados esquerdo, direito)*/
}

.fa-whatsapp, .fa-cc-visa{
color: white; /*cor do texto*/
font-size: 1.3rem; /*tamanho da letra*/
margin-right: 15rem; /*margem do texto*/
background-color: black; /*cor de fundo*/
}

.fa-whatsapp, h3, .fa-cc-visa, h3{
    color: gold; /*cor de texto*/
    background-color: black; /*cor do fundo*/
}

.div02{
padding: 1rem; /*preenchimento da caixa*/
width: 25%; /*largura de caixa em porcentagem*/
min-width: 299px; /*largura minima para as div*/
height: 20rem; /*altura da caixa utilizando o REM*/
background-image: url(imagens/serv3.jpg); /*img de fundo*/
background-repeat: no-repeat; /*não repetir a img*/
background-size: cover; /*cobrir fundo com img*/
background-position: center; /*posição da img*/
display: flex;
text-align: center;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 15px;
}

.div02 i{
display: flex;
text-align: center;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 15px;
}

.div02 span{
    color: gold;
    background-color: black;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 13rem;
}

.img-div{
    padding: 3%; /*preenchimento interno*/
    background-image: url(imagens/images.jpg); /*caminho da img*/
    background-position: center; /*posicionamento da img*/
    background-size: cover; /*preenchimento total da img na caixa*/
}

/*estilizando a segunda section*/
.section-02, .section-04{
    display: flex; /*tornando lado a lado*/
    justify-content: center; /*alinhamento horizontal*/
    align-items: center; /*alinhamento vertical*/
    gap: 1.5rem; /*brecha entre as caixa*/
    padding: 5rem; /*preenchimento interno*/
    background-color: rgb(46, 45, 45); /*cor de fundo*/
    flex-wrap: wrap; /*caso necessário voce poderá quebrar*/
    font-size: 1.5rem;
}

.caixa{
    width: 25%; /*largura da caixa*/
    height: 22rem; /*altura da caixa*/
    background-color: grey; /*cor de fundo*/
    min-width: 299px; /*largura minima da div*/
    font-size: 1.2; /*tamanho das letras*/
    color: gold; /*cor dos textos*/
    box-shadow: 10px 10px 20px rgb(245, 222, 179, 0.354); /*sombra externas das caixas*/
    cursor: pointer; /*mudar cursor*/
}

.caixa:hover{
     box-shadow: 12px 12px 22px rgb(245, 222, 179, 0.557); /*sombra externas das caixas*/
    transition: 0.8s; 
}

.caixa-img{
    width: 100%; /*lagura*/
    height: 100%; /*altura*/
}

.section-03{
    display: flex; /*tornando lado a lado*/
    justify-content: center; /*alinhamento horizontal*/
    align-items: center; /*alinhamento vertical*/
    gap: 1.5rem; /*brecha entre as caixa*/
    padding: 5rem; /*preenchimento interno*/
    background-color: rgb(46, 45, 45); /*cor de fundo*/
    flex-wrap: wrap; /*caso necessário voce poderá quebrar*/
}

.div03,.div04{
    height: 15rem; /*altura das caixas*/
    padding: 0.5rem; /*preenchimento interno*/
    text-align: center; /*alinhando os textos ao inicio*/
    color: black;
}

.div04{
    height: 15rem; /*altura das caixas*/
    text-align: center; /*alinhando os textos ao inicio*/
    color: black; 
    font-size: 1.4rem;
}

.img-info{
    width: 100%;
    height: 70%;
}

.img-info p{
    font-size: 7rem;
}
/*estilização dos textos da primeira caixa*/

.context-text{
    text-align: start; /*alinhando os textos ao inicio*/
    margin: 1rem; /*espacamento da caixa*/
    color: gold; /*cor do texto*/
    font-weight: 500; /*peso da font*/
}

.icon-div3e i {
    color: rgb(3, 3, 3); /*cor do texto*/
    font-size: 2.5rem; /*tamanho dos icones*/
    margin-top: 1rem; /*espaçamento superior dos icon*/
    padding: 1.5rem; /*preenchimento interno*/
    align-items: center; /*alinhar itens*/
    justify-content: center; /*justificar itens*/
    margin-right: 1.5rem ; /*margin da direita*/
}
/*inicio formatação caixa 02 section 03*/
.button-div04 a button{
    padding: 0.5rem; /*preenchimento intero*/
    background-color: yellow; /*cor de fundo*/
    color: black; /*cor do texto*/
    font-weight: 600; /*peso da font*/
    margin: 1rem 0; /*espaçamento sup/inf 1rem, e 0 nas laterais*/
}

.whatsapp img{ /*alterando o icon do whattsapp*/
    width: 50px; /*largura*/
}

.whatsapp{ /*div que guarda o icon whattasapp*/
    position: fixed; /*posicionamento*/
    right: 25px; /*posiçao a dieita*/
    bottom: 25px; /*posicição ao bottom*/
}

.whatsapp img:hover{
    width: 60px; /*largura*/
    transition: 0.8s; /*tempo de transição*/
}
.text-div04 p{
    color: black; /*cor do texto*/
}

/*inicio estilização rodape*/

.rodape{
    background-color: black; /*cor de fundo*/
    padding: 2rem; /*preenchimento*/
    text-align: center; /*alinhar texto no centro*/
    font-size: 1.1rem; /*tamanho do texto*/
}

.content{
    display: flex; /*deixar lado a lado*/
    align-items: center; /*alinhar itens*/
    justify-content: center; /*justificar itens*/
    gap: 3rem; /*brecha entre as caixa*/
    flex-wrap: wrap; /*caso necessário voce poderá quebrar*/
    margin-bottom: 1.5rem; /**/
}

/*espaçamento da div que guarda os icon*/

.social-media{
    padding: 1.5rem; /*preenchimento interno*/
}

/*estilizando os icon*/

.social-media i{
    color: RED; /*cor do texto*/
    font-size: 2em; /*tamanhoo da letra*/
    margin: 0.5em; /*espaçamento nos quatro lados*/
}

/*linha divisão entre as div principais*/

.line{
    width: 60%; /*largura da linha*/
    margin: 0.5rem auto; /*espaçamento em torno da linha superior e inferior (0.5 rem) com as laterais automáticas (navegador)*/
    border: none; /*remover borda*/
    height: 2px; /*altura da linha*/
    background-color: gold; /*cor da linha*/
}

.div-list ul li a{
    color: gold; /*cor do texto*/
    text-decoration: none; /*tirar sublinhado*/
}

.div-list ul li a:hover{
    color: white; /*cor do texto*/
    transition: 0.8s; /*transição*/
}

.div-list ul li{
    margin-bottom: 0.7rem;
}

/*especificação das listas em colunas para mobile*/

@media (max-width: 600px){
    .content{
        flex-direction: column;
    }

}
